body {
    background-color: #fff;
}
.header {
    background-image:url("../images/header.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%;
    padding: 0;

}
h1 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    padding-top: 7rem;
}
#startScreen {
    width: 100%;
    height: 600px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.timer {
    background-color: white;
    width: 100%;
    display: block;
    position: relative;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#start {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hidden {
    visibility: hidden;
}
.show {
    display: block;
    visibility: visible;
}
.correct {
    margin-top: 20px;
}
.message {
    color: red;
}